<a href="https://colab.research.google.com/github/Shiva-Chakravarthy-Gollapudi/info5502-spring2022/blob/main/lab_assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Domain: IMDB Box office collection; This site will gives the information about the movie, lifetime collection, and the year it got released etc., 
Domain problem: Collect the data from the site using webscraping, to find the top 10 highest lifetime gross and the year the movie got release.

The Movie name or title, Lifetime gross and Year are the fields need to collect from this site. By collecting atleast 1000 data samples will be 
collected from this site. 

Steps:

1. Using Python and Google colab will do the web scraping.
2. Finding the html tags of the fields that we need to collect 
3. Once we collect the data need to place that in the data from for further analysis.

'''

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [ ]:
# You code here (Please add comments in the code):

# load the required libraries

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import requests
from bs4 import BeautifulSoup

import re
import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'


Rank=[]
title=[]
Worldwide_Gross = []
year = []

for i in range(0,1200,200):
    start_time = time.time()
    URL = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset={}'.format(i)
    page = requests.get(URL)
    pagecontent = page.text
    soup = BeautifulSoup(pagecontent)

    for div in soup.findAll('td', attrs={'a-text-right mojo-header-column mojo-truncate mojo-field-type-rank'}):
      Rank.append(div.text)

    for div in soup.findAll('td', attrs={'class':'a-text-left mojo-field-type-title'}):
      title.append(div.text)

    for div in soup.findAll('td', attrs={'class':'a-text-right mojo-field-type-money'}):
      Worldwide_Gross.append(div.text)

    for div in soup.findAll('td', attrs={'class':'a-text-left mojo-field-type-year'}):
      year.append(div.text)
      
Movie_df = pd.DataFrame({'Rank':Rank, 'Title':title, 'Lifetime Gross':Worldwide_Gross, 'Year': year})
Movie_df.head()

  Rank                                       Title  Lifetime Gross  Year
0    1                                      Avatar  $2,847,246,203  2009
1    2                           Avengers: Endgame  $2,797,501,328  2019
2    3                                     Titanic  $2,201,647,264  1997
3    4  Star Wars: Episode VII - The Force Awakens  $2,069,521,700  2015
4    5                      Avengers: Infinity War  $2,048,359,754  2018

In [ ]:
Movie_df.shape

(1200, 4)

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):
'''

Please write you answer here:
I have selected the Wine Quality Dataset from the kaggle.
Link: https://www.kaggle.com/yasserh/wine-quality-dataset/code

The dataset describes the amount of various chemicals present in wine and their effect on it's quality. It has 11 columns of independent variable 
like fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates and 
alcohol and and one dependent variable quality. Based on the independent variables the quality of the wine will varry from 1 to 10.

Once the data got imported, first remove the duplicate values and need to know the missing values and handling the missing values 
and then distribution of the features. 

After removing the duplicates, if there are no missing values, we are good to go for further analysis, by removing the unwanted columns to check 
the quality of the wine. 

If there are missing values, we can impute the values or replacing them with the mean or meadian of the other values in the same column based on 
few conditions. 

Once we are done with the handling the missing values. We can start We can visualise them based on the datatype whether they are categorical
we can use histogram to find the distribution. Then filter the unwanted outliners.  This step is needed to determine the validity of that
number. If an outlier proves to be irrelevant for analysis or is a mistake, consider removing it.

'''

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [1]:
# You code here (Please add comments in the code):

import pandas as pd
import numpy as np
import cv2
from zipfile import ZipFile
import seaborn as sn

import os
import glob as gb

In [ ]:
!unzip /content/datasets1.zip

Step 1: We combined all examples in training, validation and test data from the original data set.

In [29]:
import glob
result_df =  pd.DataFrame()
for dataset in ['TwADR-L']:
    result = {}
    df = pd.DataFrame()
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
        
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    df = df.astype({"id": str})
       
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    # dropping duplicates
    df = df.drop_duplicates('phrase-label')

    # storing results of the table in dictionary
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(),2)
    result_df = result_df.append(result, ignore_index=True)


#result_df = result_df.T
#result_df.columns = ['TwADR-L']
result_df

,Unique_phrases,Unique_labels,Unique_phrase_label_pairs,Phrases with multiple labels,Min examples per label,Max examples per label,Avg examples per label
0,2944,2220,3157,173,1,36,1.42

In [30]:
import glob
result_df1 =  pd.DataFrame()
for dataset in ['AskAPatient']:
    result = {}
    df = pd.DataFrame()
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
        
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    df = df.astype({"id": str})
       
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    # dropping duplicates
    df = df.drop_duplicates('phrase-label')

    # storing results of the table in dictionary
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(),2)
    result_df1 = result_df1.append(result, ignore_index=True)


#result_df = result_df.T
#result_df.columns = ['AskAPatient']
result_df1

,Unique_phrases,Unique_labels,Unique_phrase_label_pairs,Phrases with multiple labels,Min examples per label,Max examples per label,Avg examples per label
0,4470,1038,4507,35,1,141,4.34

In [34]:
R= [result_df,result_df1]

result = pd.concat(R)
result=result.T
result.columns = ['TwADR-L','AskAPatient']
result

                             TwADR-L AskAPatient
Unique_phrases                  2944        4470
Unique_labels                   2220        1038
Unique_phrase_label_pairs       3157        4507
Phrases with multiple labels     173          35
Min examples per label             1           1
Max examples per label            36         141
Avg examples per label          1.42        4.34

In [40]:
import glob
result_df = pd.DataFrame()
# we iterate through both datasets 
for dataset in ['TwADR-L']:
    df = pd.DataFrame()
    result = {}
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        #print(filepath)
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
    # we create combined dataframe by combining Each dataset text files.
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    #print(df.shape)
    df = df.astype({"id": str})
    # converting to lower case
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    df = df.drop_duplicates('phrase-label')

    index_list = []
    for i in range(df.shape[0]):
        if df['labels'].value_counts()[df.iloc[i]['labels']] < 5:
            index_list.append(i)

    df.drop(df.index[index_list], inplace=True)
    result = {}

    if dataset == 'TwADR-L':
      Twt_df = df
    else:
      Ask_df = df
 
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(), 2)
    result_df = result_df.append(result, ignore_index=True)

#result_df = result_df.T
#result_df.columns = ['TwADR-L']
result_df

,Unique_phrases,Unique_labels,Unique_phrase_label_pairs,Phrases with multiple labels,Min examples per label,Max examples per label,Avg examples per label
0,616,76,721,87,5,36,9.49

In [41]:
import glob
result_df1 = pd.DataFrame()
# we iterate through both datasets 
for dataset in ['AskAPatient']:
    df = pd.DataFrame()
    result = {}
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        #print(filepath)
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
    # we create combined dataframe by combining Each dataset text files.
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    #print(df.shape)
    df = df.astype({"id": str})
    # converting to lower case
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    df = df.drop_duplicates('phrase-label')

    index_list = []
    for i in range(df.shape[0]):
        if df['labels'].value_counts()[df.iloc[i]['labels']] < 5:
            index_list.append(i)

    df.drop(df.index[index_list], inplace=True)
    result = {}

    if dataset == 'TwADR-L':
      Twt_df = df
    else:
      Ask_df = df
 
    result['Unique_phrases'] = str(len(df['phrases'].unique()))
    result['Unique_labels'] = str(len(df['labels'].unique()))
    result['Unique_phrase_label_pairs'] = str(df.shape[0])
    df1 = pd.DataFrame(df['phrases'].value_counts())
    result['Phrases with multiple labels'] = str(df1[df1['phrases'] > 1].shape[0])
    result['Min examples per label'] = str(df['labels'].value_counts().values.min())
    result['Max examples per label'] = str(df['labels'].value_counts().values.max())
    result['Avg examples per label'] = round(df['labels'].value_counts().mean(), 2)
    result_df1 = result_df1.append(result, ignore_index=True)

#result_df = result_df.T
#result_df.columns = ['TwADR-L']
result_df1

,Unique_phrases,Unique_labels,Unique_phrase_label_pairs,Phrases with multiple labels,Min examples per label,Max examples per label,Avg examples per label
0,2665,233,2686,19,5,141,11.53

In [42]:
R= [result_df,result_df1]

result = pd.concat(R)
result=result.T
result.columns = ['TwADR-L','AskAPatient']
result

                             TwADR-L AskAPatient
Unique_phrases                   616        2665
Unique_labels                     76         233
Unique_phrase_label_pairs        721        2686
Phrases with multiple labels      87          19
Min examples per label             5           5
Max examples per label            36         141
Avg examples per label          9.49       11.53

In [8]:
# 4. 10 fold for twitter data
Twt_df.shape
Twt_df = Twt_df.drop( columns='phrase-label')

In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold


X = np.array(Twt_df['labels'].values.tolist())
Y = np.array(Twt_df['phrases'].values.tolist())
kf = KFold(n_splits=10,random_state=42, shuffle=True)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=10, random_state=42, shuffle=True)

In [ ]:
total_X_train = []
total_X_test = []

total_y_train = []
total_y_test = []

for train_index, test_index in kf.split(X):
  print("TRAIN:", train_index)
  print("TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = Y[train_index], Y[test_index]

  total_X_train.append(X_train)
  total_X_test.append(X_test)

  total_y_train.append(y_train)
  total_y_test.append(y_test)

In [ ]:
total_X_train

In [ ]:
total_X_test

In [ ]:
total_y_train

In [ ]:
total_y_test

In [15]:
# 4. 10 fold for Askapatient data
Ask_df.shape
Ask_df = Ask_df.drop( columns='phrase-label')

In [16]:
Ask_df

,id,labels,phrases
0,235856003,liver disease,liver disease
1,166717003,serum creatinine raised,serum creatinine raised
3,3877011000036101,lipitor,lipitor
4,82991003,generalised aches and pains,generalised aches and pains
6,161891005,backache,backache
...,...,...,...
55181,278528006,facial swelling,slight swelling of cheeks
58427,161891005,backache,back soreness
60035,418290006,itching,intolerable itching
64859,30989003,knee pain,major sorness in knees
84535,95891005,influenza-like illness,"fluey feelings in upper arms, legs"

In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold


X = np.array(Ask_df['labels'].values.tolist())
Y = np.array(Ask_df['phrases'].values.tolist())
kf = KFold(n_splits=10,random_state=42, shuffle=True)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=10, random_state=42, shuffle=True)

In [18]:
total_X_train = []
total_X_test = []

total_y_train = []
total_y_test = []

for train_index, test_index in kf.split(X):
  print("TRAIN:", train_index)
  print("TEST:", test_index)
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = Y[train_index], Y[test_index]

  total_X_train.append(X_train)
  total_X_test.append(X_test)

  total_y_train.append(y_train)
  total_y_test.append(y_test)

TRAIN: [   0    1    2 ... 2681 2683 2685]
TEST: [  29   32   43   44   56   63   70   73   93  124  134  135  149  152
  168  170  173  175  178  188  194  196  210  211  221  233  239  254
  270  282  289  296  298  318  321  324  354  365  367  387  393  402
  407  408  410  420  422  432  436  450  460  461  463  471  478  479
  485  486  495  498  506  509  518  521  527  528  544  557  568  599
  605  611  617  620  655  657  678  693  705  719  748  755  759  761
  765  767  772  783  788  790  794  802  807  819  840  841  862  867
  879  881  889  890  926  929  937  941  969  976  986 1010 1011 1025
 1029 1037 1044 1047 1053 1057 1058 1073 1087 1091 1097 1114 1116 1186
 1187 1189 1192 1199 1207 1211 1228 1229 1230 1259 1265 1269 1271 1272
 1273 1286 1293 1299 1313 1317 1336 1351 1352 1355 1359 1360 1361 1370
 1395 1398 1406 1411 1412 1449 1456 1457 1465 1468 1498 1502 1506 1509
 1514 1532 1539 1544 1556 1569 1572 1621 1650 1652 1675 1701 1706 1732
 1740 1743 1744 1750 1763 1766 1769 1784 1795 1831 1833 1845 1846 1862
 1867 1870 1905 1911 1913 1934 1942 1945 1954 1960 1972 1973 1976 1977
 1988 1991 2011 2018 2022 2028 2029 2039 2063 2071 2084 2093 2099 2125
 2127 2132 2149 2161 2167 2172 2176 2181 2202 2213 2215 2240 2302 2306
 2325 2339 2340 2350 2368 2379 2381 2387 2402 2408 2424 2442 2477 2482
 2485 2493 2500 2520 2529 2544 2582 2588 2601 2604 2618 2622 2635 2670
 2675 2682 2684]
TRAIN: [   0    1    2 ... 2682 2683 2684]
TEST: [  30   51   67   96  100  104  109  111  141  157  163  179  199  208
  212  218  226  231  237  246  247  251  252  257  259  261  272  291
  315  322  332  347  353  368  411  414  430  433  435  439  443  445
  456  457  464  480  507  532  535  543  554  565  567  581  596  602
  632  649  650  651  662  676  677  679  700  707  727  741  746  782
  787  798  801  812  821  831  834  838  869  874  902  912  916  923
  930  931  940  942  945  949  958  964  990 1004 1017 1027 1034 1036
 1055 1061 1071 1075 1090 1102 1110 1124 1127 1149 1161 1177 1200 1208
 1210 1226 1244 1251 1266 1270 1281 1288 1290 1302 1316 1321 1326 1376
 1393 1422 1448 1450 1461 1474 1477 1480 1491 1494 1507 1508 1513 1517
 1521 1538 1558 1587 1594 1601 1609 1614 1622 1626 1640 1655 1672 1688
 1690 1700 1716 1723 1727 1738 1741 1745 1746 1749 1760 1779 1783 1786
 1791 1803 1807 1813 1814 1817 1825 1832 1839 1850 1855 1858 1860 1869
 1885 1891 1916 1922 1933 1939 1940 1947 1952 1956 1968 1983 1987 1990
 1995 2024 2032 2043 2046 2067 2077 2107 2119 2121 2134 2136 2142 2148
 2152 2155 2162 2188 2189 2204 2218 2224 2250 2266 2268 2274 2281 2283
 2284 2287 2297 2314 2318 2323 2346 2351 2356 2366 2370 2373 2388 2396
 2397 2409 2434 2441 2455 2464 2469 2491 2502 2504 2507 2524 2525 2527
 2531 2546 2553 2554 2562 2567 2573 2581 2584 2598 2640 2642 2645 2652
 2655 2672 2685]
TRAIN: [   0    1    2 ... 2683 2684 2685]
TEST: [  18   25   48   49   57   59   69   76   84  118  120  123  128  166
  174  177  184  192  203  219  220  229  240  266  275  278  279  281
  283  290  299  303  307  340  342  343  344  350  361  366  383  406
  416  426  438  440  449  472  482  489  494  497  508  522  530  538
  555  564  572  575  582  601  610  613  618  621  637  643  647  654
  668  670  680  695  729  756  764  781  785  786  789  809  810  817
  829  845  856  857  866  891  900  907  911  932  944  965  978  998
 1000 1005 1018 1033 1041 1048 1080 1089 1094 1098 1099 1100 1105 1125
 1159 1174 1178 1190 1196 1204 1213 1216 1220 1221 1225 1231 1234 1237
 1241 1260 1268 1274 1289 1298 1325 1340 1349 1356 1364 1366 1380 1385
 1389 1405 1425 1451 1462 1463 1490 1505 1533 1535 1553 1564 1565 1566
 1576 1582 1590 1600 1623 1637 1645 1653 1657 1681 1691 1694 1709 1729
 1730 1737 1739 1777 1778 1793 1798 1800 1801 1811 1815 1818 1826 1830
 1847 1849 1868 1879 1886 1910 1927 1936 1938 1941 1943 1949 1951 1997
 2002 2007 2008 2012 2013 2014 2023 2054 2086 2087 2089 2108 2112 2122
 2124 2126 2137 2154 2166 2174 2177 2178 2183 2185 2186 2190 2193 2210
 2211 2216 2223 2234 2242 2248 2286 2298 2307 2312 2319 2330 2352 2354
 2360 2369 2374 2407 2412 2418 2426 2430 2436 2447 2462 2468 2474 2490
 2496 2499 2505 2506 2509 2542 2579 2594 2600 2607 2624 2628 2629 2649
 2659 2673 2677]
TRAIN: [   0    1    2 ... 2683 2684 2685]
TEST: [   8   13   20   23   45   65   71   83   87   99  102  105  115  121
  151  158  162  185  198  205  207  222  230  256  263  273  286  287
  297  300  304  306  308  309  311  313  316  331  351  358  360  374
  377  381  382  386  394  409  415  423  427  429  444  462  491  500
  511  514  519  526  529  548  552  561  583  590  591  598  604  607
  629  630  636  642  672  685  690  694  731  733  736  742  744  751
  792  800  808  836  839  859  861  873  883  888  903  908  927  952
  961  962  970  973  979  999 1001 1014 1023 1032 1050 1064 1068 1078
 1083 1084 1088 1093 1103 1106 1113 1117 1123 1128 1133 1134 1135 1146
 1170 1242 1253 1261 1263 1283 1285 1309 1322 1330 1339 1368 1377 1410
 1420 1423 1429 1431 1432 1435 1436 1437 1446 1452 1455 1472 1512 1546
 1554 1560 1561 1562 1563 1580 1588 1591 1593 1599 1607 1608 1613 1615
 1618 1624 1627 1628 1641 1656 1666 1702 1708 1721 1725 1747 1748 1765
 1771 1788 1790 1804 1805 1835 1837 1840 1871 1876 1880 1888 1894 1897
 1902 1904 1912 1915 1918 1932 1953 1961 1985 1992 2001 2009 2021 2037
 2051 2066 2069 2072 2113 2116 2118 2129 2131 2157 2158 2163 2164 2184
 2195 2222 2225 2244 2257 2261 2273 2289 2295 2321 2329 2347 2358 2384
 2401 2411 2421 2423 2429 2439 2445 2446 2448 2451 2457 2465 2470 2481
 2510 2511 2548 2550 2552 2566 2578 2592 2599 2608 2632 2641 2643 2650
 2666 2667 2681]
TRAIN: [   0    1    3 ... 2682 2684 2685]
TEST: [   2   15   37   39   53   61   78   91  101  107  136  145  159  169
  182  187  191  209  244  250  265  271  274  277  292  294  305  310
  334  338  339  348  352  363  371  376  380  398  413  425  431  447
  453  458  465  476  483  505  534  556  570  571  576  579  584  585
  588  593  614  619  628  634  674  686  687  696  697  704  710  715
  721  726  737  752  771  780  816  826  849  855  865  885  886  892
  893  906  913  915  925  934  948  963  974  981  985  988  993  994
 1039 1043 1054 1056 1067 1070 1085 1104 1109 1112 1121 1131 1137 1151
 1163 1165 1173 1175 1179 1185 1193 1194 1195 1222 1223 1236 1247 1255
 1264 1278 1292 1295 1307 1334 1337 1338 1344 1350 1357 1362 1374 1375
 1378 1381 1391 1399 1407 1418 1427 1444 1467 1475 1476 1486 1487 1488
 1501 1503 1510 1530 1537 1547 1550 1551 1559 1575 1583 1602 1606 1610
 1611 1632 1670 1677 1711 1713 1728 1736 1742 1756 1767 1772 1776 1780
 1789 1792 1834 1851 1854 1861 1864 1874 1896 1908 1920 1937 1963 1964
 1966 1978 1979 1993 2026 2034 2040 2059 2064 2096 2097 2110 2147 2165
 2180 2187 2192 2194 2209 2220 2230 2232 2236 2241 2243 2245 2258 2260
 2269 2271 2275 2296 2309 2310 2357 2361 2371 2380 2394 2398 2404 2405
 2414 2416 2420 2440 2463 2471 2472 2479 2484 2487 2508 2515 2533 2547
 2555 2585 2590 2591 2593 2596 2597 2603 2610 2614 2631 2656 2663 2674
 2679 2680 2683]
TRAIN: [   0    1    2 ... 2683 2684 2685]
TEST: [   6   17   26   28   31   41   54   58   72   81   86  113  147  148
  150  155  164  167  176  181  214  236  243  285  312  326  327  329
  341  346  370  385  405  428  441  442  451  454  468  481  490  493
  501  513  520  551  560  566  589  592  609  631  660  669  692  701
  706  712  720  722  730  734  735  743  745  757  768  774  777  806
  818  824  832  848  875  904  905  909  914  921  935  936  938  939
  943  951  966  968  982  987  989  997 1002 1009 1022 1024 1040 1042
 1072 1086 1107 1108 1111 1132 1138 1142 1143 1164 1171 1176 1181 1198
 1201 1203 1232 1245 1249 1258 1279 1287 1301 1303 1304 1308 1310 1311
 1328 1332 1333 1341 1379 1382 1383 1386 1387 1394 1403 1404 1413 1414
 1419 1421 1441 1447 1453 1454 1459 1481 1499 1511 1518 1524 1525 1552
 1557 1567 1578 1584 1592 1598 1612 1616 1620 1642 1647 1651 1659 1662
 1667 1684 1703 1710 1712 1718 1720 1726 1731 1735 1752 1754 1762 1822
 1828 1829 1842 1844 1857 1865 1872 1877 1878 1883 1889 1921 1924 1925
 1926 1948 1962 1970 1980 2003 2033 2042 2055 2058 2060 2075 2080 2083
 2090 2091 2092 2095 2106 2111 2114 2117 2123 2130 2138 2150 2159 2173
 2175 2196 2206 2238 2246 2247 2254 2282 2293 2334 2344 2362 2375 2376
 2378 2383 2389 2413 2415 2461 2475 2483 2497 2501 2503 2517 2519 2523
 2530 2536 2543 2545 2559 2577 2583 2605 2620 2621 2637 2639 2647 2651
 2657 2658 2660]
TRAIN: [   1    2    4 ... 2683 2684 2685]
TEST: [   0    3    5   10   12   14   22   33   74   88  112  117  126  129
  131  138  139  140  142  156  171  193  195  215  217  224  227  228
  242  258  260  269  276  288  295  314  319  320  323  325  328  333
  355  375  390  401  419  421  424  467  477  503  516  531  542  547
  549  553  558  573  578  587  594  597  612  615  622  626  645  653
  661  664  682  689  691  711  714  723  724  754  776  778  799  813
  820  822  827  842  843  844  846  864  871  887  897  898  901  910
  917  919  922  946  947  950  984 1003 1006 1007 1013 1046 1052 1063
 1118 1120 1157 1160 1182 1188 1202 1233 1246 1248 1277 1284 1305 1314
 1315 1318 1319 1320 1323 1342 1343 1345 1347 1372 1373 1392 1401 1402
 1430 1433 1442 1458 1464 1466 1471 1483 1493 1523 1526 1541 1545 1573
 1577 1604 1605 1619 1629 1639 1644 1658 1660 1665 1669 1671 1673 1674
 1689 1692 1697 1714 1717 1724 1755 1761 1764 1808 1809 1820 1859 1866
 1882 1898 1900 1907 1909 1914 1917 1928 1950 1957 1965 1971 1975 1999
 2016 2020 2030 2031 2045 2052 2053 2057 2073 2079 2081 2098 2103 2104
 2120 2133 2144 2168 2170 2203 2208 2212 2227 2228 2231 2233 2252 2259
 2270 2276 2279 2285 2291 2292 2303 2313 2332 2333 2341 2372 2382 2386
 2406 2419 2427 2437 2443 2444 2453 2460 2473 2476 2480 2488 2495 2498
 2526 2528 2534 2535 2537 2560 2570 2572 2574 2587 2602 2644 2648 2661
 2669 2676]
TRAIN: [   0    1    2 ... 2683 2684 2685]
TEST: [   7    9   24   27   40   42   47   52   55   60   62   66   68   77
   79   80   82   85   92   94   97  106  108  110  125  132  133  137
  144  165  183  204  213  223  232  235  238  248  249  255  267  280
  302  336  345  349  357  359  362  364  372  373  384  388  389  404
  434  437  446  448  470  473  475  484  517  523  525  533  536  539
  541  545  577  603  624  638  644  665  666  667  671  673  688  708
  716  718  725  738  739  749  758  760  762  770  793  796  803  805
  811  814  847  852  858  868  882  899  918  924  967  983 1019 1026
 1030 1031 1035 1049 1074 1079 1096 1101 1140 1144 1145 1168 1169 1172
 1206 1224 1235 1239 1240 1250 1252 1254 1256 1262 1276 1280 1329 1331
 1335 1353 1358 1371 1396 1397 1417 1424 1426 1428 1460 1469 1473 1489
 1497 1536 1543 1549 1555 1574 1581 1586 1596 1617 1633 1646 1654 1668
 1699 1719 1753 1770 1774 1775 1797 1812 1824 1836 1838 1848 1852 1873
 1875 1887 1893 1901 1929 1935 1944 1946 1967 1984 1989 1994 2000 2004
 2005 2010 2015 2017 2019 2025 2035 2036 2044 2048 2050 2078 2094 2100
 2102 2105 2115 2128 2140 2145 2151 2153 2171 2179 2201 2219 2226 2229
 2249 2262 2272 2299 2320 2322 2326 2328 2335 2337 2338 2342 2345 2348
 2349 2353 2355 2359 2364 2365 2367 2377 2390 2392 2395 2400 2403 2417
 2425 2456 2458 2466 2467 2494 2522 2539 2563 2565 2571 2589 2606 2617
 2646 2671]
TRAIN: [   0    1    2 ... 2683 2684 2685]
TEST: [   4   11   16   19   35   36   38   46   50   75   89   90  114  116
  119  127  143  153  154  172  180  190  216  225  234  245  264  268
  284  301  335  356  369  395  396  399  412  417  469  487  496  499
  504  510  512  515  524  537  546  550  559  569  574  580  595  606
  616  625  633  635  639  652  656  658  675  681  684  699  703  713
  717  728  732  740  750  753  773  784  797  823  825  828  830  833
  837  850  851  853  872  876  884  894  895  896  920  928  933  953
  954  957  959  971  977  980  991  992  996 1008 1012 1015 1045 1060
 1062 1065 1066 1069 1077 1081 1092 1115 1119 1122 1126 1139 1141 1148
 1150 1155 1156 1166 1167 1191 1197 1205 1209 1212 1214 1217 1218 1219
 1227 1243 1296 1312 1324 1346 1348 1365 1384 1388 1409 1416 1440 1470
 1492 1504 1516 1519 1531 1540 1542 1548 1568 1571 1595 1625 1630 1635
 1649 1664 1676 1679 1680 1683 1686 1687 1693 1705 1715 1758 1773 1781
 1782 1785 1799 1810 1816 1821 1823 1827 1841 1856 1890 1892 1903 1906
 1931 1958 1974 1982 1996 2006 2065 2070 2074 2076 2082 2085 2109 2141
 2143 2156 2197 2205 2207 2217 2221 2239 2251 2256 2263 2265 2277 2280
 2288 2290 2304 2305 2308 2311 2315 2316 2331 2399 2410 2422 2428 2438
 2452 2459 2478 2492 2512 2513 2514 2516 2518 2521 2540 2549 2557 2564
 2575 2576 2615 2623 2625 2626 2633 2634 2636 2653 2654 2662 2664 2665
 2668 2678]
TRAIN: [   0    2    3 ... 2683 2684 2685]
TEST: [   1   21   34   64   95   98  103  122  130  146  160  161  186  189
  197  200  201  202  206  241  253  262  293  317  330  337  378  379
  391  392  397  400  403  418  452  455  459  466  474  488  492  502
  540  562  563  586  600  608  623  627  640  641  646  648  659  663
  683  698  702  709  747  763  766  769  775  779  791  795  804  815
  835  854  860  863  870  877  878  880  955  956  960  972  975  995
 1016 1020 1021 1028 1038 1051 1059 1076 1082 1095 1129 1130 1136 1147
 1152 1153 1154 1158 1162 1180 1183 1184 1215 1238 1257 1267 1275 1282
 1291 1294 1297 1300 1306 1327 1354 1363 1367 1369 1390 1400 1408 1415
 1434 1438 1439 1443 1445 1478 1479 1482 1484 1485 1495 1496 1500 1515
 1520 1522 1527 1528 1529 1534 1570 1579 1585 1589 1597 1603 1631 1634
 1636 1638 1643 1648 1661 1663 1678 1682 1685 1695 1696 1698 1704 1707
 1722 1733 1734 1751 1757 1759 1768 1787 1794 1796 1802 1806 1819 1843
 1853 1863 1881 1884 1895 1899 1919 1923 1930 1955 1959 1969 1981 1986
 1998 2027 2038 2041 2047 2049 2056 2061 2062 2068 2088 2101 2135 2139
 2146 2160 2169 2182 2191 2198 2199 2200 2214 2235 2237 2253 2255 2264
 2267 2278 2294 2300 2301 2317 2324 2327 2336 2343 2363 2385 2391 2393
 2431 2432 2433 2435 2449 2450 2454 2486 2489 2532 2538 2541 2551 2556
 2558 2561 2568 2569 2580 2586 2595 2609 2611 2612 2613 2616 2619 2627
 2630 2638]